.CustomeTable__headerContainer {
  display: flex;
  margin: 10px 5px;
  align-items: flex-end;
  justify-content: space-between;
}

.CustomeTable__button {
  margin: 0 5px !important;
}

.MuiTableHead-root {
  height: 50px;
}

.MuiTableCell-root:first-child {
  border-radius: 4px 0px 0px 0px !important;
}

.MuiTableCell-root:last-child {
  border-radius: 0px 4px 0px 0px !important;
}
